@font-face {
    font-family: "Avenir Next Regular";
    src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("woff");
    font-weight:400;
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
    font-weight:700;
}